<form class="flexcol {{cssClasses}}" style="padding:0.5rem;" autocomplete="off">

    <style>

    .item-piles-input-submit{
      padding:1rem;
    }

    .item-piles-input-row button{
        padding: 0.25rem 0.25rem;
        line-height: 1rem;
    }
    </style>

    <p>{{localize "ITEM-PILES.CurrenciesEditor.Explanation"}}</p>

    <div>
        <table>
            <tr class="item-piles-input-row">
                <th style="width:5%;">Primary</th>
                <th style="width:20%;">Name</th>
                <th style="width:10%;">Exchange</th>
                <th style="width:20%;">Attribute Path</th>
                <th style="width:20%;">Icon</th>
                <th style="width:5%;" class="item-pile-add-new-entry"><a><i class="fas fa-plus"></i></a></th>
            </tr>
            {{#each data as |currency id|}}
            <tr class="item-piles-input-row item-piles-input-editor-list" data-index="{{id}}">
                <td style="display: flex; flex-direction: column; align-items: center;"><input type="radio" class="item-piles-input-primary-currency" required name="primary" {{#if currency.primary}}checked{{/if}}/></td>
                <td><input type="text" class="item-piles-input-name-input" required name="{{id}}.name" placeholder="Gold Pieces" value="{{currency.name}}"/></td>
                <td><input type="number" class="item-piles-input-exchange-input" required name="{{id}}.exchange" placeholder="1" step="0.00001" value="{{currency.exchange}}"/></td>
                <td><input type="text" class="item-piles-input-path-input" required name="{{id}}.path" placeholder="data.currency.gp" value="{{currency.path}}"/></td>
                <td class="item-piles-input-filepicker" style="display:flex;">
                    {{filePicker target=(concat id ".img") type="imagevideo"}}
                    <input type="text" class="item-piles-input-img-input" name="{{id}}.img" placeholder="path/image.png" value="{{currency.img}}"/>
                </td>
                <td>
                    <button type="button" class="item-piles-input-remove" name="button_remove_{{id}}"><i class="fas fa-times"></i></button>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

    <footer class="sheet-footer flexrow" style="margin-top: 1rem;">
        <button type="submit" value="submit" name="submit" class="item-piles-input-submit"><i class="fas fa-download"></i> {{localize "ITEM-PILES.CurrenciesEditor.Submit"}}</button>
        <button type="cancel" value="cancel" name="cancel" class="item-piles-input-submit"><i class="fas fa-times"></i> {{localize "Cancel"}}</button>
    </footer>

</form>