<form class="flexcol" style="padding:0.5rem;" autocomplete="off">

    <div class="item-piles-drop-container">

        <style>

        .item-piles-input-submit{
          padding:1rem;
        }

        .item-piles-input-row button{
            padding: 0.25rem 0.25rem;
            line-height: 1rem;
        }
        </style>

        <p>{{localize "ITEM-PILES.PriceModifiersEditor.Explanation"}}</p>

        <div>
            <table>
                <tr class="item-piles-input-row">
                    <th style="width:25%;">{{localize "ITEM-PILES.PriceModifiersEditor.Actor"}}</th>
                    <th style="width:35%;">{{localize "ITEM-PILES.PriceModifiersEditor.PriceModifier"}}</th>
                    <th style="width:35%;">{{localize "ITEM-PILES.PriceModifiersEditor.SellModifier"}}</th>
                    <th style="width:5%;"></th>
                </tr>
                {{#each data as |priceData id|}}
                <tr class="item-piles-input-row item-piles-input-editor-list" data-index="{{id}}">
                    <td>
                        <a class="item-piles-actor-name-clickable">{{ priceData.actor.name }}</a>
                        <input type="hidden" value="{{ priceData.actor.id }}" name="{{id}}.actor">
                    </td>
                    <td>
                        <div class="flexrow" style="margin: 0 0.25rem">
                            <input style="flex:3;" type="range" min="0" step="1" max="200" value="{{priceData.priceModifier}}"/>
                            <input style="flex:0.5; margin-left:0.5rem;" type="number" min="0" step="1" name="{{id}}.priceModifier" required value="{{priceData.priceModifier}}"/>
                        </div>
                    </td>
                    <td>
                        <div class="flexrow" style="margin: 0 0.25rem">
                            <input style="flex:3;" type="range" min="0" step="1" max="200" value="{{priceData.sellModifier}}"/>
                            <input style="flex:0.5; margin-left:0.5rem;" type="number" min="0" step="1" name="{{id}}.sellModifier" required value="{{priceData.sellModifier}}"/>
                        </div>
                    </td>

                    <td>
                        <button type="button" class="item-piles-input-remove" name="button_remove_{{id}}"><i class="fas fa-times"></i></button>
                    </td>
                </tr>
                {{/each}}
            </table>
            <p class="item-piles-text-center">{{localize "ITEM-PILES.PriceModifiersEditor.DragDrop"}}</p>
        </div>

    </div>

    <footer class="sheet-footer flexrow" style="margin-top: 1rem;">
        <button type="submit" value="submit" name="submit" class="item-piles-input-submit"><i class="fas fa-download"></i> {{localize "ITEM-PILES.CurrenciesEditor.Submit"}}</button>
        <button type="cancel" value="cancel" name="cancel" class="item-piles-input-submit"><i class="fas fa-times"></i> {{localize "Cancel"}}</button>
    </footer>

</form>