<div class="item-piles-chat-card" data-actor-id="{{actor.id}}">

	<div class="item-piles-chat-card-title">
		<p>
			<img src="{{merchant.img}}" data-fast-tooltip="{{merchant.name}}" height="32"/>
			<i class="fas fa-handshake"></i> <img src="{{actor.img}}" data-fast-tooltip="{{actor.name}}" height="32"/>
		</p>
		<p>{{message}}</p>
	</div>

	<ul>
		{{#each priceInformation as |bought|}}
		{{#each bought.buyerReceive as |item id|}}
		<li>
			<img src="{{item.img}}" data-fast-tooltip="{{item.name}}" height="16"/>
			<label>{{item.name}} <small>(x{{item.quantity}})</small></label>
			{{#unless item.contained}}
			<label class="item-piles-chat-price">{{bought.basePriceString}}</label>
			{{/unless}}
		</li>
		{{/each}}
		{{/each}}
	</ul>

</div>
