<form class="flexcol {{cssClasses}}" style="padding:0.5rem;" autocomplete="off">

  <style>
    .item-pile-attribute-row{
      margin-bottom:0.5rem;
    }
    .item-pile-attribute-row > div{
      margin-left:5px;
    }
    .item-pile-attribute-submit{
      padding:1rem;
    }
    .item-pile-attribute-remove{
      padding:0.25rem 0.25rem;
      line-height: 1rem;
    }
    .item-pile-attribute-filepicker button{
      margin:0;
    }
  </style>

  <p>{{localize "ITEM-PILES.AttributeEditor.Explanation"}}</p>

  <div>
    <hr>
    <div class="flexrow item-pile-attribute-row">
      <div style="flex:1.75; margin-left:3rem;">{{localize "ITEM-PILES.AttributeEditor.Name"}}</div>
      <div style="flex:2.5;">{{localize "ITEM-PILES.AttributeEditor.AttributePath"}}</div>
      <div style="flex:2;">{{localize "ITEM-PILES.AttributeEditor.Icon"}}</div>
    </div>
    {{#each attributes as |attribute id|}}
      <div class="flexrow item-pile-attribute-row" data-attribute-index="{{id}}">
        <div style="flex:0 1 auto;"><button type="button" class="item-pile-attribute-remove" name="button_remove_{{id}}"><i class="fas fa-times"></i></button></div>
        <div style="flex:2;"><input type="text" class="item-pile-attribute-name-input" required name="{{id}}.name" placeholder="Gold Pieces" value="{{attribute.name}}"/></div>
        <div style="flex:3;"><input type="text" class="item-pile-attribute-path-input" required name="{{id}}.path" placeholder="data.attribute.gp" value="{{attribute.path}}"/></div>
        <div class="item-pile-attribute-filepicker" style="flex:3; display:inline-flex;">
          {{filePicker target=(concat id ".img") type="imagevideo"}}
          <input type="text" class="item-pile-attribute-img-input" name="{{id}}.img" placeholder="path/image.png" value="{{attribute.img}}"/>
        </div>
      </div>
    {{/each}}
    <button type="button" name="newAttribute"><i class="fas fa-coins"></i> {{localize "ITEM-PILES.AttributeEditor.AddNew"}}</button>
  </div>
  <footer class="sheet-footer flexrow" style="margin-top: 1rem;">
    <button type="submit" name="submit" class="item-pile-attribute-submit"><i class="fas fa-download"></i> {{localize "ITEM-PILES.AttributeEditor.Submit"}}</button>
  </footer>

</form>