<form class="flexcol {{cssClasses}}" style="padding:0.5rem;" autocomplete="off">

    <p style="text-align: center;" class="item-piles-bottom-divider">
        {{ content }}
    </p>

    {{#each currencies as |currency id|}}
        <div class="form-group item-piles-slider-group item-piles-odd-color">
            <div class="item-piles-img-container" style="transform: scale(0.75)"><img class="item-piles-img" src="{{currency.img}}"></div>
            <div class="item-piles-name item-piles-text">
                <div>{{currency.name}}</div>
                {{#unless @root.source}}
                <span class="item-piles-small-text">x{{currency.quantity}}</span>
                {{/unless}}
            </div>

            {{#unless @root.includeAllCurrencies}}
            <input class="item-piles-range-slider" style="flex: 5;" type="range" min="0" max="{{currency.quantity}}" id="rangeSlider" value="{{currency.currentQuantity}}"/>
            {{/unless}}
            <input class="item-piles-range-input" style="flex: 1.5; margin-left:1rem;" type="number" id="rangeValue" name="{{currency.path}}" value="{{currency.currentQuantity}}"/>

            {{#unless @root.includeAllCurrencies}}
            <div style="flex:0 1 50px; margin: 0 5px;">/ {{currency.quantity}}</div>
            {{/unless}}
        </div>
    {{/each}}

    {{#unless currencies.length}}
        <p style="text-align: center;">
            {{localize "ITEM-PILES.DropCurrencies.NoCurrency" actor_name=source.name}}
        </p>
    {{/unless}}

    <footer class="sheet-footer flexrow" style="margin-top: 1rem;">
        <button type="submit" name="drop" value="drop"><i class="fas fa-download"></i>
            {{button}}
        </button>
        <button type="cancel" name="cancel" value="cancel"><i class="fas fa-times"></i> {{localize "ITEM-PILES.DropCurrencies.Cancel"}}</button>
    </footer>

</form>
