<form class="flexcol {{cssClasses}}" style="padding:0.5rem;" autocomplete="off">

  <style>
    .item-pile-filters-row{
      margin-bottom:0.5rem;
    }
    .item-pile-filters-row > div{
      margin-left:5px;
    }
    .item-pile-filters-submit{
      padding:1rem;
    }
    .item-pile-filters-remove{
      padding:0.25rem 0.25rem;
      line-height: 1rem;
    }
  </style>

  <p>{{localize "ITEM-PILES.FilterEditor.Explanation"}}</p>

  <div>
    <hr>
    <div class="flexrow item-pile-filters-row">
      <div style="flex:2.5; margin-left:3rem;">{{localize "ITEM-PILES.FilterEditor.Path"}}</div>
      <div style="flex:2;">{{localize "ITEM-PILES.FilterEditor.Filters"}}</div>
    </div>
    {{#each filters as |filter id|}}
      <div class="flexrow item-pile-filters-row" data-filters-index="{{id}}">
        <div style="flex:0 1 auto;"><button type="button" class="item-pile-filters-remove" name="button_remove_{{id}}"><i class="fas fa-times"></i></button></div>
        <div style="flex:2;"><input type="text" class="item-pile-filters-path-input" required name="{{id}}.path" placeholder="type" value="{{filter.path}}"/></div>
        <div style="flex:3;"><input type="text" class="item-pile-filters-input" required name="{{id}}.filters" placeholder="class, spell, feat" value="{{filter.filters}}"/></div>
      </div>
    {{/each}}
    <button type="button" name="newFilter"><i class="fas fa-coins"></i> {{localize "ITEM-PILES.FilterEditor.AddNew"}}</button>
  </div>
  <footer class="sheet-footer flexrow" style="margin-top: 1rem;">
    <button type="submit" name="submit" class="item-pile-filters-submit"><i class="fas fa-download"></i> {{localize "ITEM-PILES.FilterEditor.Submit"}}</button>
  </footer>

</form>