<form class="flex {{cssClasses}} item-piles-config-container" autocomplete="off">

    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="mainsettings">{{localize "ITEM-PILES.ItemPileConfig.Main.Title"}}</a>
        <a class="item" data-tab="othersettings">{{localize "ITEM-PILES.ItemPileConfig.Other.Title"}}</a>
    </nav>

    <section class="tab-body item-piles-sections item-piles-grow">

        <div class="tab mainsettings flex" data-group="primary" data-tab="mainsettings">

            <div class="form-group">
                <label>
                    {{localize "ITEM-PILES.ItemPileConfig.Main.EnabledPile"}}<br>
                    <p>{{localize "ITEM-PILES.ItemPileConfig.Main.EnabledPileExplanation"}}</p>
                </label>
                <input type="checkbox" name="enabled" {{checked flagData.enabled}}/>
            </div>

            <div class="form-group">
                <label style="flex:4;">
                    {{localize "ITEM-PILES.ItemPileConfig.Main.Distance"}}<br>
                    <p>{{localize "ITEM-PILES.ItemPileConfig.Main.GridUnits"}}</p>
                </label>
                <input style="flex:4;" type="number" placeholder="Infinity" name="distance" value="{{flagData.distance}}"/>
            </div>

            <div class="form-group">
                <label>
                    {{localize "ITEM-PILES.ItemPileConfig.Main.InspectItems"}}<br>
                    <p>{{localize "ITEM-PILES.ItemPileConfig.Main.InspectItemsExplanation"}}</p>
                </label>
                <input type="checkbox" name="canInspectItems" {{checked flagData.canInspectItems}}/>
            </div>

            <div class="form-group">
                <label style="flex:4;">
                    {{localize "ITEM-PILES.ItemPileConfig.Main.DeleteWhenEmpty"}}<br>
                    <p >{{localize "ITEM-PILES.ItemPileConfig.Main.DeleteWhenEmptyExplanation"}}</p>
                </label>
                <select style="flex:4;" name="deleteWhenEmpty">
                    {{#select flagData.deleteWhenEmpty}}
                    <option value="default">{{localize "ITEM-PILES.ItemPileConfig.Main.DeleteWhenEmptyDefault"}}</option>
                    <option value="true">{{localize "ITEM-PILES.ItemPileConfig.Main.DeleteWhenEmptyYes"}}</option>
                    <option value="false">{{localize "ITEM-PILES.ItemPileConfig.Main.DeleteWhenEmptyNo"}}</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label style="flex:4;">
                    {{localize "ITEM-PILES.ItemPileConfig.Main.Macro"}}<br>
                    <p>{{localize "ITEM-PILES.ItemPileConfig.Main.MacroExplanation"}}</p>
                </label>
                <input style="flex:4;" type="text" placeholder="{{MacroPlaceholder}}" name="macro" value="{{flagData.macro}}"/>
            </div>

            <div class="form-group">
                <label style="flex:4;">
                    {{localize "ITEM-PILES.ItemPileConfig.Main.OverrideCurrencies"}}<br>
                    <p>{{localize "ITEM-PILES.ItemPileConfig.Main.OverrideCurrenciesExplanation"}}</p>
                </label><br>
                <input type="checkbox" class="item-piles-config-override-currencies-checkbox" {{checked flagData.overrideCurrencies}}/>
            </div>

            <div class="form-group">
                <button type="button" class="item-piles-config-configure-override-currencies" {{#unless flagData.overrideCurrencies}} disabled {{/unless}} style="flex:4;">{{localize "ITEM-PILES.ItemPileConfig.Main.ConfigureOverrideCurrencies"}}</button>
            </div>

            <div class="form-group">
                <label style="flex:4;">
                    {{localize "ITEM-PILES.ItemPileConfig.Main.OverrideItemFilters"}}<br>
                    <p>{{localize "ITEM-PILES.ItemPileConfig.Main.OverrideItemFiltersExplanation"}}</p>
                </label><br>
                <input type="checkbox" class="item-piles-config-override-item-filters-checkbox" {{checked flagData.overrideItemFilters}}/>
            </div>

            <div class="form-group">
                <button type="button" class="item-piles-config-configure-override-item-filters" {{#unless flagData.overrideItemFilters}} disabled {{/unless}} style="flex:4;">{{localize "ITEM-PILES.ItemPileConfig.Main.ConfigureOverrideItemFilters"}}</button>
            </div>

        </div>

        <div class="tab othersettings flex item-piles-grow" data-group="primary" data-tab="othersettings">

            <details class="item-piles-collapsible item-piles-clickable">

                <summary>{{ localize "ITEM-PILES.ItemPileConfig.SingleItem.Title"}}</summary>

                <strong class="display-one-warning" style="display:none;">{{localize "ITEM-PILES.ItemPileConfig.SingleItem.DisplayOneContainerWarning"}}</strong>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.SingleItem.DisplayOne"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.SingleItem.DisplayOneExplanation"}}</p>
                    </label>
                    <input type="checkbox" name="displayOne" {{checked flagData.displayOne}}/>
                </div>

                <div class="item-pile-display-one-settings">

                    <div class="form-group">
                        <label>
                            {{localize "ITEM-PILES.ItemPileConfig.SingleItem.ItemName"}}<br>
                            <p>{{localize "ITEM-PILES.ItemPileConfig.SingleItem.ItemNameExplanation"}}</p>
                        </label>
                        <input type="checkbox" name="showItemName" {{checked flagData.showItemName}}/>
                    </div>

                    <div class="form-group">
                        <label>
                            {{localize "ITEM-PILES.ItemPileConfig.SingleItem.OverrideScale"}}<br>
                        </label>
                        <input type="checkbox" name="overrideSingleItemScale" {{checked flagData.overrideSingleItemScale}}/>
                    </div>

                    <div class="form-group">
                        <label style="flex:3;">
                            {{localize "ITEM-PILES.ItemPileConfig.SingleItem.Scale"}}<br>
                        </label>
                        <input style="flex:3;" type="range" min="0.2" step="0.1" max="3" class="item-piles-scaleRange" name="singleItemScale" value="{{flagData.singleItemScale}}"/>
                        <input style="flex:0.5; margin-left:1rem;" type="number" step="0.1" class="item-piles-scaleInput" value="{{flagData.singleItemScale}}"/>
                    </div>

                </div>

            </details>

            <details class="item-piles-collapsible item-piles-clickable">

                <summary>{{ localize "ITEM-PILES.ItemPileConfig.Container.Title"}}</summary>

                <div class="form-group">
                    <label>{{localize "ITEM-PILES.ItemPileConfig.Container.IsContainer"}}</label>
                    <input type="checkbox" name="isContainer" {{checked flagData.isContainer}}/>
                </div>

                <div class="item-pile-container-settings">

                    <div class="form-group item-pile-container-setting">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.Closed"}}</label>
                        <input type="checkbox" class="container-input" name="closed" {{checked flagData.closed}}/>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.Locked"}}</label>
                        <input type="checkbox" class="container-input" name="locked" {{checked flagData.locked}}/>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.ClosedImagePath"}}</label>
                        <div class="form-fields">
                            {{filePicker target="closedImage" type="imagevideo"}}
                            <input class="image container-input" type="text" name="closedImage" placeholder="path/image.png" value="{{flagData.closedImage}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.OpenedImagePath"}}</label>
                        <div class="form-fields">
                            {{filePicker target="openedImage" type="imagevideo"}}
                            <input class="image container-input" type="text" name="openedImage" placeholder="path/image.png" value="{{flagData.openedImage}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.EmptyImagePath"}}</label>
                        <div class="form-fields">
                            {{filePicker target="emptyImage" type="imagevideo"}}
                            <input class="image container-input" type="text" name="emptyImage" placeholder="path/image.png" value="{{flagData.emptyImage}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.LockedImagePath"}}</label>
                        <div class="form-fields">
                            {{filePicker target="lockedImage" type="imagevideo"}}
                            <input class="image container-input" type="text" name="lockedImage" placeholder="path/image.png" value="{{flagData.lockedImage}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.CloseSoundPath"}}</label>
                        <div class="form-fields">
                            {{filePicker target="closeSound" type="audio"}}
                            <input class="sound container-input" type="text" name="closeSound" placeholder="path/sound.wav" value="{{flagData.closeSound}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.OpenSoundPath"}}</label>
                        <div class="form-fields">
                            {{filePicker target="openSound" type="audio"}}
                            <input class="sound container-input" type="text" name="openSound" placeholder="path/sound.wav" value="{{flagData.openSound}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>{{localize "ITEM-PILES.ItemPileConfig.Container.LockedSoundPath"}}</label>
                        <div class="form-fields">
                            {{filePicker target="lockedSound" type="audio"}}
                            <input class="sound container-input" type="text" name="lockedSound" placeholder="path/sound.wav" value="{{flagData.lockedSound}}"/>
                        </div>
                    </div>
                </div>

            </details>

            <details class="item-piles-collapsible item-piles-clickable">

                <summary>{{ localize "ITEM-PILES.ItemPileConfig.Sharing.Title"}}</summary>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.Sharing.ShareItemsEnabled"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Sharing.ShareItemsEnabledExplanation"}}</p>
                    </label>
                    <input type="checkbox" name="shareItemsEnabled" {{checked flagData.shareItemsEnabled}}/>
                </div>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.Sharing.ShareCurrenciesEnabled"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Sharing.ShareCurrenciesEnabledExplanation"}}</p>
                    </label>
                    <input type="checkbox" name="shareCurrenciesEnabled" {{checked flagData.shareCurrenciesEnabled}}/>
                </div>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.Sharing.TakeAllEnabled"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Sharing.TakeAllEnabledExplanation"}}</p>
                    </label>
                    <input type="checkbox" name="takeAllEnabled" {{checked flagData.takeAllEnabled}}/>
                </div>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.Sharing.SplitAllEnabled"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Sharing.SplitAllEnabledExplanation"}}</p>
                    </label>
                    <input type="checkbox" name="splitAllEnabled" {{checked flagData.splitAllEnabled}}/>
                </div>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.Sharing.InactivePlayers"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Sharing.InactivePlayersExplanation"}}</p>
                    </label>
                    <input type="checkbox" name="activePlayers" {{checked flagData.activePlayers}}/>
                </div>

                <div class="form-group">
                    <label style="flex:4;">
                        {{localize "ITEM-PILES.ItemPileConfig.Sharing.ResetSharingData"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Sharing.ResetSharingDataExplanation"}}</p>
                    </label>
                </div>

                <div class="form-group">
                    <button type="button" class="item-piles-config-reset-sharing-data" style="flex:4;">{{localize "ITEM-PILES.ItemPileConfig.Sharing.ResetSharingData"}}</button>
                </div>

            </details>

            <details class="item-piles-collapsible item-piles-clickable">

                <summary>{{ localize "ITEM-PILES.ItemPileConfig.Merchant.Title"}}</summary>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.Merchant.Enabled"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Merchant.EnabledExplanation"}}</p>
                    </label>
                    <input type="checkbox" class="item-piles-config-merchant-enabled" name="isMerchant" {{checked flagData.isMerchant}}/>
                </div>

                <div class="form-group">
                    <label style="flex:3;">
                        {{localize "ITEM-PILES.ItemPileConfig.Merchant.PriceModifier"}}<br>
                    </label>
                    <input style="flex:3;" type="range" min="0" step="1" max="200" value="{{flagData.priceModifier}}"/>
                    <input style="flex:0.5; margin-left:1rem;" type="number" min="0" step="1" name="priceModifier" required value="{{flagData.priceModifier}}"/>
                </div>

                <div class="form-group">
                    <label style="flex:3;">
                        {{localize "ITEM-PILES.ItemPileConfig.Merchant.SellModifier"}}<br>
                    </label>
                    <input style="flex:3;" type="range" min="0" step="1" max="200" value="{{flagData.sellModifier}}"/>
                    <input style="flex:0.5; margin-left:1rem;" type="number" min="0" step="1" name="sellModifier" required value="{{flagData.sellModifier}}"/>
                </div>

                <div class="form-group">
                    <div class="flexcol">
                        <label>
                            {{localize "ITEM-PILES.ItemPileConfig.Merchant.ActorPriceModifiers"}}<br>
                            <p>{{localize "ITEM-PILES.ItemPileConfig.Merchant.ActorPriceModifiersExplanation"}}</p>
                        </label>
                        <button type="button" class="item-piles-config-configure-override-price-modifiers">{{localize "ITEM-PILES.ItemPileConfig.Merchant.ConfigureActorPriceModifiers"}}</button>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        {{localize "ITEM-PILES.ItemPileConfig.Merchant.OpenTimes"}}<br>
                        <p>{{localize "ITEM-PILES.ItemPileConfig.Merchant.OpenTimesExplanation"}}</p>
                    </label>
                    <input type="checkbox" class="item-piles-config-open-times-enable" name="openTimes.enabled" {{checked flagData.openTimes.enabled}}/>
                </div>

                <div class="form-group item-piles-open-times-container">
                    <div class="flexcol" style="margin-right:1rem">
                        <label class="item-piles-text-center">
                            Open Time:
                        </label>
                        <div class="flexrow">
                            <input type="number" style="text-align: right;" name="openTimes.open.hour" value="{{flagData.openTimes.open.hour}}"/>
                            <span style="flex: 0; line-height:1.7; margin: 0 0.25rem;">:</span>
                            <input type="number" name="openTimes.open.minute" value="{{flagData.openTimes.open.minute}}"/>
                        </div>
                    </div>
                    <div class="flexcol">
                        <label class="item-piles-text-center">
                            Close Time:
                        </label>
                        <div class="flexrow">
                            <input type="number" style="text-align: right;" name="openTimes.close.hour" value="{{flagData.openTimes.close.hour}}"/>
                            <span style="flex: 0; line-height:1.7; margin: 0 0.25rem;">:</span>
                            <input type="number" name="openTimes.close.minute" value="{{flagData.openTimes.close.minute}}"/>
                        </div>
                    </div>
                </div>

            </details>

        </div>

    </section>

    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "ITEM-PILES.ItemPileConfig.Update"}}</button>
    </footer>

</form>
