<form class="flexcol {{cssClasses}}" style="padding:0.5rem;" autocomplete="off">

    <div class="item-piles-item-drop-container">

        {{#if hasRecipient}}
        <p style="text-align: center; flex: 0 1 auto;">{{localize "ITEM-PILES.Inspect.AsActor" actorName=recipient.name }}</p>
        {{else}}
        <p style="text-align: center; flex: 0 1 auto;">{{localize "ITEM-PILES.Inspect.NoActor"}}</p>
        {{/if}}

        <hr>

        {{#if isDeleted}}

            <p style="text-align: center; flex: 0 1 auto;">{{localize "ITEM-PILES.Inspect.Destroyed"}}</p>

        {{else}}

            {{#if isEmpty}}
            <p style="text-align: center; flex: 0 1 auto;">{{localize "ITEM-PILES.Inspect.Empty"}}</p>
            {{/if}}

            <div id="item-piles-preview-container">
                <img id="item-piles-preview-image"/>
            </div>

            <div class="item-piles-items">

                <div class="flexrow"><h3>Items:</h3></div>
                {{#each items as |item id|}}
                <div class="flexrow item-piles-item-row {{#unless item.quantity}}item-piles-item-disabled{{/unless}}" data-item-id="{{item.id}}" data-item-type="{{item.type}}">

                    <div class="item-piles-img-container"><img class="item-piles-img" src="{{item.img}}"/></div>

                    <div class="item-piles-name item-piles-text">
                        <div class="item-piles-name-container">
                            <a class="item-piles-clickable">{{item.name}}</a>
                        </div>
                        <span class="item-piles-small-text">x{{item.quantity}}</span>
                    </div>

                    {{#if item.shareLeft}}
                        <input class="item-piles-quantity" type="number" min="1" value="{{item.currentQuantity}}" max="{{item.quantity}}" {{#unless item.quantity}}disabled{{/unless}}/>

                        <span class="item-piles-text item-piles-input-divider {{#unless @root.hasRecipient}}item-piles-text-right{{/unless}}">
                            / {{item.shareLeft}}
                        </span>
                    {{/if}}

                    {{#if @root.hasRecipient}}
                    <button class="item-piles-take-button" type="button" {{#unless item.shareLeft}}disabled{{/unless}}>{{localize "ITEM-PILES.Inspect.Take"}}</button>
                    {{/if}}

                </div>
                {{/each}}
                {{#if hasThings}}
                <hr>
                {{/if}}
                <div class="flexrow">
                    <h3>Currencies:</h3>
                    {{#if @root.hasRecipient}}
                    <a class="item-piles-clickable item-piles-text-right item-piles-small-text item-piles-middle item-piles-add-currency"><i class="fas fa-plus"></i> Add Your Own</a>
                    {{/if}}
                </div>
                {{#each currencies as |currency id|}}
                <div class="flexrow item-piles-item-row item-piles-currency-row" data-currency-name="{{currency.name}}" data-currency-path="{{currency.path}}">
                    <div class="item-piles-img-container"><img class="item-piles-img" src="{{currency.img}}"/></div>

                    <div class="item-piles-name item-piles-text">
                        <div>{{currency.name}}</div>
                        <span class="item-piles-small-text">x{{currency.quantity}}</span>
                    </div>

                    {{#if currency.shareLeft}}
                    <input class="item-piles-quantity" type="number" min="1" value="{{currency.currentQuantity}}" max="{{currency.quantity}}" {{#unless currency.quantity}}disabled{{/unless}}/>

                    <span class="item-piles-text item-piles-input-divider {{#unless @root.hasRecipient}}item-piles-text-right{{/unless}}">
                            / {{currency.shareLeft}}
                        </span>
                    {{/if}}

                    {{#if @root.hasRecipient}}
                    <button class="item-piles-currency-take-button" type="button" {{#unless currency.shareLeft}}disabled{{/unless}}>{{localize "ITEM-PILES.Inspect.Take"}}</button>
                    {{/if}}

                </div>
                {{/each}}
            </div>

        {{/if}}

        <footer class="sheet-footer flexrow" style="margin-top: 1rem;">
            {{#each buttons as |button id|}}
            <button
                name="{{ button.value }}"
                value="{{ button.value }}"
                type="{{#if button.type}}{{button.type}}{{else}}submit{{/if}}"
                {{#if button.disabled}}disabled{{/if}}
                >
                    <i class="{{ button.icon }}"></i> {{ button.text }}
            </button>
            {{/each}}
        </footer>

    </div>

</form>
