<form class="flexcol" autocomplete="off" style="overflow:hidden;">

    <div class="flexrow merchant-top-bar item-piles-bottom-divider">
        <div class="merchant-name">{{ merchant.name }}</div>
        <div class="opening-hours flexcol">
            <span>Opening hours</span>
            <span style="font-style: italic;">09:00 - 19:00</span>
        </div>
    </div>

    <div class="flexrow item-pile-merchant-content">

        <div class="merchant-left-pane flexcol">

            <div class="merchant-img">
                <img src="{{merchant.img}}">
            </div>

            <div class="flexcol item-piles-top-divider">

                <nav class="sheet-navigation tabs" style="flex:0 1 auto;" data-group="primary">
                    <a class="item active" data-tab="description">Description</a>
                    <a class="item" data-tab="settings">Merchant Settings</a>
                </nav>

                <section class="tab-body item-piles-sections flexcol" style="padding:0.25rem;margin-top:0.5rem;">

                    <div class="tab flex item-piles-grow" data-group="primary" data-tab="description">
                        {{{ merchant.description }}}
                    </div>

                    <div class="tab flex item-piles-grow" data-group="primary" data-tab="settings">
                        WHATUP
                    </div>

                </section>

            </div>

        </div>

        <div class="merchant-right-pane">

            <h2 style="flex: 0; border:0;">For sale</h2>

            {{#each merchant.items as |items type|}}

            <h3 class="merchant-item-group-type flexrow">
                <div>
                    {{type}}
                </div>
                <div style="flex: 0 1 168px;">
                    <small>Price</small>
                </div>
            </h3>

            <div class="item-piles-items-list">

                {{#each items as |item id|}}

                <div class="flexrow item-piles-item-row item-piles-odd-color" data-item-id="{{item.id}}" style="flex: 1 0 auto;">

                    <div class="item-piles-img-container"><img class="item-piles-img" src="{{item.img}}"/></div>

                    <div class="item-piles-name item-piles-text">
                        <div class="item-piles-name-container">
                            <a class="item-piles-clickable">{{item.name}}</a>
                        </div>
                    </div>

                    <div class="flexrow" style="flex-direction:row;flex: 0 1 100px;">
                        <div style="flex:0;"><img src="{{item.price.img}}" title="{{item.price.name}}" style=" border-radius: 4px; max-height:20px; max-width: 20px; margin-right: 5px;"></div>
                        <div><small>{{item.price.cost}}</small></div>
                    </div>

                    <div style="flex: 0 1 50px;">
                        <a><i class="fas fa-shopping-cart"></i> Buy</a>
                    </div>
                </div>
                {{/each}}

            </div>

            {{/each}}


        </div>

    </div>

</form>