<div class="item-piles-chat-card" data-actor-id="{{actor.id}}">

    <div class="item-piles-chat-card-title">
        <p><img src="{{itemPile.data.img}}" title="{{itemPile.name}}" height="32"/> <i class="fas fa-arrow-right"></i> <img src="{{actor.data.img}}" title="{{actor.name}}" height="32"/></p>
        <p>{{localize "ITEM-PILES.Chat.Pickup.Actor" name=actor.name}}</p>
    </div>

    {{#if items}}
        <ul>
        {{#each items as |item id|}}
            <li data-item-id="{{id}}">
                <img src="{{item.img}}" title="{{item.name}}" height="16"/>
                <label>{{item.name}}</label>
                <small>{{item.quantity}}</small>
            </li>
        {{/each}}
        </ul>
    {{/if}}
    {{#if items}}
    {{#if attributes}}
    <hr>
    {{/if}}
    {{/if}}
    {{#if attributes}}
        <ul>
        {{#each attributes as |attribute id|}}
            <li data-attribute-id="{{id}}">
                <img src="{{attribute.img}}" title="{{attribute.name}}" height="16"/>
                <label>{{attribute.name}}</label>
                <small>{{attribute.quantity}}</small>
            </li>
        {{/each}}
        </ul>
    {{/if}}

</div>
