<div class="item-piles-chat-card">

    <div class="item-piles-chat-card-title item-piles-bottom-divider">
        <p>
            <img src="{{party_1.actor.data.img}}" title="{{party_1.actor.name}}" height="32"/>
            <i class="fas fa-handshake"></i> <img src="{{party_2.actor.data.img}}" title="{{party_2.actor.name}}" height="32"/>
        </p>
        <p style="margin:0;">{{ localize "ITEM-PILES.Chat.TradeComplete" party_1=party_1.actor.name party_2=party_2.actor.name}}</p>
    </div>

    {{#if enableCollapse}}
    <details class="item-piles-collapsible">
        <summary>{{ localize "ITEM-PILES.Chat.ExpandTrade" }}</summary>
        {{/if}}

        {{#unless party_1.got_nothing}}

            <p>{{party_1.actor.name}} received:</p>

            {{#if party_1.items}}
                <ul>
                {{#each party_1.items as |item id|}}
                    <li>
                        <img src="{{item.img}}" title="{{item.name}}" height="16"/>
                        <label>{{item.name}}</label>
                        <small>{{item.quantity}}</small>
                    </li>
                {{/each}}
                </ul>
            {{/if}}
            {{#if party_1.items}}
            {{#if party_1.currencies}}
            <hr>
            {{/if}}
            {{/if}}
            {{#if party_1.currencies}}
                <ul>
                {{#each party_1.currencies as |currency id|}}
                    <li>
                        <img src="{{currency.img}}" title="{{currency.name}}" height="16"/>
                        <label>{{currency.name}}</label>
                        <small>{{currency.quantity}}</small>
                    </li>
                {{/each}}
                </ul>
            {{/if}}

        {{/unless}}

        {{#unless party_1.got_nothing}}
        {{#unless party_2.got_nothing}}
        <hr>
        {{/unless}}
        {{/unless}}

        {{#unless party_2.got_nothing}}

            <p>{{party_2.actor.name}} received:</p>

            {{#if party_2.items}}
            <ul>
                {{#each party_2.items as |item id|}}
                <li>
                    <img src="{{item.img}}" title="{{item.name}}" height="16"/>
                    <label>{{item.name}}</label>
                    <small>{{item.quantity}}</small>
                </li>
                {{/each}}
            </ul>
            {{/if}}
            {{#if party_2.items}}
            {{#if party_2.currencies}}
            <hr>
            {{/if}}
            {{/if}}
            {{#if party_2.currencies}}
            <ul>
                {{#each party_2.currencies as |currency id|}}
                <li>
                    <img src="{{currency.img}}" title="{{currency.name}}" height="16"/>
                    <label>{{currency.name}}</label>
                    <small>{{currency.quantity}}</small>
                </li>
                {{/each}}
            </ul>
            {{/if}}

        {{/unless}}

    {{#if enableCollapse}}
    </details>
    {{/if}}

</div>
