<form class="flexcol {{cssClasses}}" autocomplete="off">

    <style>

        .col{
            flex-direction: column;
            margin: 0 5px;
        }

        .col:not(:last-child){
            padding-right:10px;
            border-right:1px solid black;
        }

        .row{
            flex: 1;
        }

        .row:last-child{
            flex: 0 1 auto;
        }

        .trader{

        }

    </style>

    <div class="flexrow">

        <div class="col flexcol">

            <div class="character-header item-piles-bottom-divider">
                <img src="{{ leftActor.img }}">
                <h2 class="character-name"><div>{{ leftActor.name }}</div></h2>
            </div>

            <div class="flexcol item-piles-item-drop-container {{#if leftActor.accepted}}accepted{{/if}}">

                <div class="row item-piles-items-list">

                    {{#each leftActor.items as |item id|}}

                    <div class="flexrow item-piles-item-row">

                        <div class="item-piles-img-container"><img class="item-piles-img" src="{{item.img}}"/></div>

                        <div class="item-piles-name item-piles-text">
                            <div class="item-piles-name-container">
                                <a class="item-piles-clickable">{{item.name}}</a>
                            </div>
                        </div>

                        <div>
                            <span class="item-piles-text-right item-piles-text">{{item.quantity}}</span>
                        </div>
                    </div>

                    {{/each}}

                </div>

                <div class="row item-piles-items-list item-piles-currency-list">

                    <div class="row item-piles-top-divider item-piles-text-center">
                    </div>

                    {{#each leftActor.currencies as |currency id|}}

                    <div class="flexrow item-piles-item-row">

                        <div class="item-piles-img-container"><img class="item-piles-img" src="{{currency.img}}"/></div>

                        <div class="item-piles-name item-piles-text">
                            <div class="item-piles-name-container">
                                <a class="item-piles-clickable">{{currency.name}}</a>
                            </div>
                        </div>

                        <div>
                            <span class="item-piles-text-right item-piles-text">{{currency.quantity}}</span>
                        </div>
                    </div>

                    {{/each}}

                </div>

            </div>

        </div>


        <div class="col flexcol">

            <div class="character-header trader item-piles-bottom-divider">
                <h2 class="character-name"><div>{{ rightActor.name }}</div></h2>
                <img src="{{ rightActor.img }}">
            </div>

            <div class="flexcol {{#if rightActor.accepted}}accepted{{/if}}">

                <div class="row item-piles-items-list">

                    {{#each rightActor.items as |item id|}}

                    <div class="flexrow item-piles-item-row">

                        <div class="item-piles-img-container"><img class="item-piles-img" src="{{item.img}}"/></div>

                        <div class="item-piles-name item-piles-text">
                            <div class="item-piles-name-container">
                                <a class="item-piles-clickable">{{item.name}}</a>
                            </div>
                        </div>

                        <div>
                            <span class="item-piles-text-right item-piles-text">{{item.quantity}}</span>
                        </div>
                    </div>

                    {{/each}}

                </div>

                <div class="row item-piles-items-list item-piles-currency-list">

                    <div class="row item-piles-top-divider item-piles-text-center">
                    </div>

                    {{#each rightActor.currencies as |currency id|}}

                    <div class="flexrow item-piles-item-row">

                        <div class="item-piles-img-container"><img class="item-piles-img" src="{{currency.img}}"/></div>

                        <div class="item-piles-name item-piles-text">
                            <div class="item-piles-name-container">
                                <a class="item-piles-clickable">{{currency.name}}</a>
                            </div>
                        </div>

                        <div>
                            <span class="item-piles-text-right item-piles-text">{{currency.quantity}}</span>
                        </div>
                    </div>

                    {{/each}}

                </div>

            </div>

        </div>
    </div>

</form>
