/* ----------------------- Generic ----------------------- */
.item-piles-player-list-trade-button {
  line-height: inherit;
  font-size: 0.85rem;
  width: calc(100% - 0.5rem);
  margin: 0.25rem;
}
.item-piles-player-list-trade-button.item-piles-minimal-ui {
  padding: 2px 0 0 0;
  text-align: center;
}
.item-piles-player-list-trade-button.item-piles-minimal-ui i {
  width: 100%;
}
.item-piles-specate-trade:disabled {
  background-color: rgba(0, 0, 0, 0.25);
}
.item-piles-progress {
  width: calc(100% - 4px);
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
  margin: 0.25rem 2px 0 2px;
  height: 6px;
}
.item-piles-progress .progress-bar {
  display: block;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  transition: width 30s linear;
}
.item-piles-dialog {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.item-piles-disabled {
  opacity: 0.75;
}
.item-piles-clickable {
  cursor: pointer;
}
.item-piles-clickable-red {
  color: red;
}
.item-piles-clickable-green {
  color: green;
}
.item-piles-clickable-green:hover {
  text-shadow: 0 0 8px #007d00;
}
.item-piles-moveable {
  cursor: move;
}
.item-piles-highlight {
  color: var(--color-text-hyperlink, #ff6400);
  text-decoration: underline;
}
.item-piles-grow {
  flex-grow: 1;
}
.item-piles-text-right {
  text-align: right;
}
.item-piles-text-center {
  text-align: center;
}
.item-piles-small-text {
  font-size: 0.75rem;
}
.item-piles-middle {
  vertical-align: middle;
}
.item-piles-img-container {
  min-height: 37px;
  max-width: 37px;
  max-height: 37px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid black;
}
.item-piles-img-container .item-piles-img {
  border: 0;
  width: auto;
  height: 100%;
  transition: transform 150ms;
}
.item-piles-img-container .item-piles-img:hover {
  transform: scale(1.125, 1.125);
}
.item-piles-odd-color:nth-child(even) {
  background-color: var(--color-text-light-highlight, #f0f0e0);
}
.item-piles-bottom-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.item-piles-top-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.35);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}
.item-piles-disabled {
  background-color: var(--color-bg-btn-minor-inactive, #c9c7b8);
}

.item-piles-slider-group {
  padding: 0 5px 0 0;
  margin-bottom: 0.25rem;
  margin-right: 5px;
  border-radius: 4px;
}

#item-piles-preview-container {
  position: absolute;
  display: none;
}
#item-piles-preview-container #item-piles-preview-image {
  border: 0;
  width: 300px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* ----------------------- INVENTORY ----------------------- */
.item-piles-items-list {
  max-height: 500px;
  overflow-y: scroll;
}
.item-piles-items-list .item-piles-change-actor-select {
  display: none;
}
.item-piles-items-list #item-piles-preview-container {
  position: absolute;
  display: none;
}
.item-piles-items-list .item-piles-add-currency {
  margin-right: 5px;
  flex: 0 1 auto;
  vertical-align: middle;
}
.item-piles-items-list .item-piles-item-row {
  padding: 0 5px 0 0;
  margin-bottom: 0.25rem;
  margin-right: 5px;
  border-radius: 4px;
}
.item-piles-items-list .item-piles-item-row:nth-child(even):not(.item-piles-disabled) {
  background-color: var(--color-text-light-highlight, #f0f0e0);
}
.item-piles-items-list .item-piles-item-row .item-piles-disabled {
  background-color: var(--color-bg-btn-minor-inactive, #c9c7b8);
}
.item-piles-items-list .item-piles-item-row div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.item-piles-items-list .item-piles-item-row .item-piles-text {
  line-height: 1.6rem;
  font-size: 1rem;
  text-wrap: normal;
  flex: 0 1 auto;
}
.item-piles-items-list .item-piles-item-row .item-piles-name {
  padding: 0 0.5rem;
  flex: 4;
  display: inline-flex;
  flex-direction: column;
}
.item-piles-items-list .item-piles-item-row .item-piles-name .item-piles-name-container {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.item-piles-items-list .item-piles-item-row .item-piles-name .item-piles-name-container a {
  max-width: fit-content;
}
.item-piles-items-list .item-piles-item-row .item-piles-name span {
  line-height: 1;
  flex: 0;
}
.item-piles-items-list .item-piles-item-row .item-piles-quantity {
  flex: 1;
  margin-left: 0.5rem;
  text-align: right;
}
.item-piles-items-list .item-piles-item-row .item-piles-input-divider {
  flex: 1;
  margin: 0.1rem 0.5rem 0 0.25rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.item-piles-items-list .item-piles-item-row .item-piles-item-take-button, .item-piles-items-list .item-piles-item-row .item-piles-currency-take-button {
  flex: 0;
  min-width: 4rem;
  height: 26px;
  padding: 1px 3px;
  line-height: inherit;
}

.item-piles-collapsible:not(:last-child) {
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--color-border-light-primary, #b5b3a4);
}
.item-piles-collapsible > summary {
  display: block;
  font-weight: 900;
}
.item-piles-collapsible > summary::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  margin-right: 0.5rem;
}
.item-piles-collapsible[open] > summary {
  margin-bottom: 0.5rem;
}
.item-piles-collapsible[open] > summary::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  margin-right: 0.275rem;
}

/* ----------------------- CONFIG ----------------------- */
.item-piles-config {
  width: 430px;
}
.item-piles-config .item-piles-config-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.item-piles-config .item-piles-config-container .sheet-navigation {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-border-light-primary, #b5b3a4);
}
.item-piles-config .item-piles-config-container .item-piles-sections {
  padding: 0.25rem;
  max-height: calc(100% - 51px - 34px);
  overflow-y: scroll;
}
.item-piles-config .item-piles-config-container p {
  flex: 0;
  line-height: 14px;
  font-size: var(--font-size-12);
  color: var(--color-text-dark-secondary);
  padding-right: 1rem;
  margin-top: 0;
  overflow-y: hidden;
}
.item-piles-config .item-piles-config-container footer {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--color-border-light-primary, #b5b3a4);
}

/* ---------------------- CHAT CARDS ---------------------- */
.item-piles-chat-card {
  padding: 0.5rem;
}
.item-piles-chat-card img {
  border: 0;
  vertical-align: middle;
}
.item-piles-chat-card .item-piles-chat-card-title i {
  line-height: 1rem;
  font-size: 1.25rem;
  margin: 0 0.5rem;
}
.item-piles-chat-card .item-piles-chat-card-title img {
  margin-bottom: 5px;
}
.item-piles-chat-card ul {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.item-piles-chat-card li {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin: 1px 0;
  padding: 3px 4px;
  border-radius: 3px;
  align-items: center;
}
.item-piles-chat-card li:nth-child(odd) {
  background-color: var(--color-text-light-highlight, #f0f0e0);
}
.item-piles-chat-card li img {
  margin-right: 5px;
  flex: 0;
}
.item-piles-chat-card li label {
  flex: 1;
  flex-wrap: wrap;
}
.item-piles-chat-card li small {
  min-width: 1rem;
  text-align: right;
  padding-right: 2px;
}

/* ---------------------- TRADING UI ---------------------- */
.item-piles-trading-sheet .item-piles-item-row {
  padding: 2px;
}
.item-piles-trading-sheet .item-piles-remove-item {
  opacity: 0.5;
}
.item-piles-trading-sheet .item-piles-remove-item:hover {
  opacity: 1;
}
.item-piles-trading-sheet .item-piles-confirm-quantity {
  display: none;
}
.item-piles-trading-sheet .item-piles-quantity-text {
  line-height: 1.6rem;
  font-size: 0.85rem;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-right: 5px;
  border-radius: 4px;
  margin-left: 10px;
}
.item-piles-trading-sheet .item-piles-quantity-text:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.item-piles-trading-sheet .item-piles-add-currency {
  flex: 1;
  vertical-align: middle;
  margin-bottom: 5px;
}
.item-piles-trading-sheet .item-piles-items-list {
  min-height: 300px;
  max-height: 300px;
}
.item-piles-trading-sheet .item-piles-currency-list {
  min-height: unset;
  max-height: unset;
}
.item-piles-trading-sheet .item-piles-img-container {
  min-height: 29px;
  max-width: 29px;
  max-height: 29px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid black;
}
.item-piles-trading-sheet .item-piles-img-container .item-piles-img {
  border: 0;
  width: auto;
  height: 100%;
  transition: transform 250ms;
}
.item-piles-trading-sheet .item-piles-img-container .item-piles-img:hover {
  transform: scale(1.25, 1.25);
}
.item-piles-trading-sheet .accepted {
  box-shadow: 0 0 40px rgba(0, 255, 0, 0.35) inset, 0 0 10px rgba(0, 255, 0, 0.35);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.item-piles-trading-sheet h1, .item-piles-trading-sheet h2 {
  border: 0;
  vertical-align: center;
}
.item-piles-trading-sheet .character-header {
  display: inline-flex;
  flex-direction: row;
  flex: 0 1 auto;
  padding: 5px;
}
.item-piles-trading-sheet .character-header .character-name {
  padding-top: 0.5rem;
  text-align: center;
  flex: 1;
}
.item-piles-trading-sheet .character-header img {
  max-width: 40px;
  max-height: 40px;
  width: auto;
  height: auto;
  border: 0;
  margin-right: auto;
  flex: 0 1 auto;
  border-radius: 5px;
}
.item-piles-trading-sheet .character-header.trader img {
  margin-left: auto;
}

/*# sourceMappingURL=module.css.map */
