.item-piles-items {
    max-height: 500px;
    overflow-y: scroll;
}

.item-piles-item-row {
    padding: 0;
    margin-bottom: 0.25rem;
}

.item-piles-item-row:hover {
    background-color: var(--color-text-light-highlight);
}

.item-pile-item-disabled, .item-pile-item-disabled:hover {
    background-color: var(--color-text-dark-inactive);
}

.item-piles-item-row .item-piles-img{
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
}

.item-piles-item-row .item-piles-text {
    line-height: 1.6rem;
    font-size: 1rem;
    text-wrap: normal;
    flex: 0 1 auto;
}

.item-piles-item-row .item-piles-name{
    padding: 0 0.5rem;
    flex: 4;
}

.item-piles-item-row .item-piles-quantity{
    flex: 0.75;
    margin-left: 0.5rem;
    text-align:right;
}

.item-piles-item-row .item-piles-input-divider{
    flex: 0.75;
    margin: 0.1rem 0.5rem 0 0.25rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.item-piles-item-row .item-piles-text-right{
    text-align: right;
}

.item-piles-item-row .item-piles-take-button, .item-piles-item-row .item-piles-attribute-take-button{
    flex: 1;
    height: 26px;
    padding: 1px 3px;
    line-height: inherit;
}

#item-piles-preview-container{
    position: absolute;
    display: none;
}

#item-piles-preview-image{
    border: 0;
    width: 300px;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-group.item-pile-disabled{
    opacity: 0.75;
}

.item-pile-config {
    min-width: 430px;
    max-width: 430px;
}

.item-pile-config p{
    flex: 0;
    line-height: 14px;
    font-size: var(--font-size-12);
    color: var(--color-text-dark-secondary);
    padding-right: 1rem;
}